@tailwind base;
@tailwind components;
@tailwind utilities;

#banner-section,
#footer-section {
  font-family: "Red Rose", cursive;
}

#experience-section,
#portfolio-section,
#services-section,
#navbar,
#workflow-section,
#contact-section {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
